[submodule "vim/bundle/nerdcommenter"]
	path = vim/pack/plugins/start/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/pack/plugins/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "zsh/zsh-history-substring-search"]
	path = zsh/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "vim/bundle/vim-jsbeautify"]
	path = vim/bundle/vim-jsbeautify
	url = git://github.com/maksimr/vim-jsbeautify.git
[submodule "vim/bundle/vim-perl"]
	path = vim/pack/plugins/start/vim-perl
	url = git://github.com/vim-perl/vim-perl.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/pack/plugins/opt/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/pack/plugins/start/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/pack/plugins/start/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-emacsmodeline"]
	path = vim/pack/plugins/opt/vim-emacsmodeline
	url = git://github.com/sfiera/vim-emacsmodeline.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/syntastic"]
	path = vim/pack/plugins/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/bundle/ack.vim"]
	path = vim/pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/vim-fish"]
	path = vim/pack/plugins/start/vim-fish
	url = https://github.com/dag/vim-fish.git
